.main {
	padding-block: 15px;
}

.mainTitle {
	font-size: 30;
	color: orange;
}

.titleWrapper {
	display: flex;
	column-gap: 20px;
	// justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.button {
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	background-color: #1677ff;
	color: #ffffff;
	transition: background-color 250ms;

	&:hover {
		background-color: #4096ff;
	}
}

.mainContainer {
	display: flex;
	column-gap: 20px;
}

.sectionTitle {
	margin-bottom: 10px;
}

.todoList {
	min-height: 100vh;
	padding: 10px;
	border-radius: 10px;
	background-color: #ced4da;
}

.todoItem {
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	background-color: #ffffff;

	&:not(:last-child) {
		margin-bottom: 5px;
	}
}

.todoContainer {
	display: flex;
}

.todoText {
	padding: 10px;
}

.todoTitle {
	margin-bottom: 5px;
	color: #1677ff;
	font-size: 16px;
	font-weight: 500;
}

.todoNotes {
	font-size: 14px;
	font-weight: 300;
}

.todoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 100px;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	background-color: #5a5a5a;
	color: #ced4da;
	font-size: 12px;
}

.dueTo {
	font-weight: 600;
	text-align: center;
}

.todoTools {
	display: flex;
	justify-content: space-between;

	p {
		flex-basis: 50%;
		text-align: center;
	}
}
